{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="tombstone_block">
    <div class='tombstone_image'>
        <img src="{% static 'pictures/tombstone.png' %}">
    </div>
    <div class='tombstone_logo'>
        <img src="{% static 'pictures/apple.png' %}">
    </div>
    <div class='tombstone_text'>
        <p>Введите текст</p>
    </div>
</div> 


<div class="tombstone_block">
    <div class='tombstone_image'>
        <img src="{% static 'pictures/tombstone.png' %}">
    </div>
    <div class='tombstone_logo'>
        <img src="{% static 'pictures/apple.png' %}">
    </div>
    <div class='tombstone_text'>
        <p>Введите текст</p>
    </div>
</div> 


<div class="tombstone_block">
    <div class='tombstone_image'>
        <img src="{% static 'pictures/tombstone.png' %}">
    </div>
    <div class='tombstone_logo'>
        <img src="{% static 'pictures/apple.png' %}">
    </div>
    <div class='tombstone_text'>
        <p>Введите текст</p>
    </div>
</div> 


<div class="tombstone_block">
    <div class='tombstone_image'>
        <img src="{% static 'pictures/tombstone.png' %}">
    </div>
    <div class='tombstone_logo'>
        <img src="{% static 'pictures/apple.png' %}">
    </div>
    <div class='tombstone_text'>
        <p>Введите текст</p>
    </div>
</div> 


<div class="tombstone_block">
    <div class='tombstone_image'>
        <img src="{% static 'pictures/tombstone.png' %}">
    </div>
    <div class='tombstone_logo'>
        <img src="{% static 'pictures/apple.png' %}">
    </div>
    <div class='tombstone_text'>
        <p>Введите текст</p>
    </div>
</div> 


<div class="tombstone_block">
    <div class='tombstone_image'>
        <img src="{% static 'pictures/tombstone.png' %}">
    </div>
    <div class='tombstone_logo'>
        <img src="{% static 'pictures/apple.png' %}">
    </div>
    <div class='tombstone_text'>
        <p>Введите текст</p>
    </div>
</div> 


<div class="tombstone_block">
    <div class='tombstone_image'>
        <img src="{% static 'pictures/tombstone.png' %}">
    </div>
    <div class='tombstone_logo'>
        <img src="{% static 'pictures/apple.png' %}">
    </div>
    <div class='tombstone_text'>
        <p>Введите текст</p>
    </div>
</div> 


{% endblock content %}